body {
    font-family: 'Courier New', Courier, monospace ;
}

.top {
    position: relative; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url('Images/top_bg.webp');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 10px;
}

.top .boutons {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
    background-color: rgb(130, 55, 35);
    color: white;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    transition: background-color 0.5s ease;
}

.top .boutons:hover {
    background-color: black;
}

.banner {
    width: 100%;
    height: auto;
}

.bginfo {
    width: 100%;
    height: auto;
}

.informations {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
    background-image: url('Images/dirt.webp');
    background-repeat: repeat-y;
}

.panneau1, .panneau2, .panneau3 {
    position: absolute;
    width: 45%;
    top: 200px;
}

.panneau1 img, .panneau2 img, .panneau3 img {
    width: 100%;
    height: auto;
}

.panneau2 {
    right: 0;
    top: 400px;
}

.panneau3 {
    top: 600px;
}

.panneau1 h1, .panneau3 h1 {
    font-size: 1.5vw;
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    line-height: 1.4;
}

.panneau2 h1 {
    font-size: 1.5vw;
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .top .boutons {
        font-size: 4vw;
    }

    h1 {
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    .top .boutons {
        font-size: 5vw;
    }

    h1 {
        font-size: 5vw;
    }
}

.bouton_vers_haut {
    position: fixed;
    bottom: 25px;
    left: 25px;
    height: 90px;
    width: 90px;
    cursor: pointer;
    background: none;
    border:none;
    z-index: 1000;
}

.bouton_vers_haut img {
    width: 90px;
    height: 90px;
}

.bouton_vers_haut:hover {
    opacity: 0.8;
}